.workspace {
  width: 100%;
}

.content{
  height: 100%;
  background-color: #F1F4F9;
}

.balance{
  display: flex;
  justify-content: flex-end;
}

.optionsMenu{
  display: flex;
  justify-content: space-between;
}