$addOrderLogo: url('../../images/add.svg');
$payLogo: url('../../images/pay.svg');
$indicator: url('../../images/indicator.svg');

%buttons {
  width: 200px;
  height: 52px;
  border: 0;
  border-radius: 4px;
  color: #FFFF;
  font-size: 16px;
  background: #005FF8 no-repeat right 14px center;
}

%item{
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 52px;
  width: 100%;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.6);
  border-left: 3px solid transparent;
}

.sidebar{
  position: fixed;
  width: 240px;
  min-height: 100vh;
  background-color: #091336;
  .wrapper{
    padding-top: 20px;
  }
  .logo{
    padding-left: 12px;
  }
  .items{
    padding-top: 32px;
    .item {
      @extend %item;
    }
    .activeItem{
      @extend %item;
      border-left: 3px solid #005FF8;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      background: rgba(216, 228, 251, 0.32) $indicator no-repeat 95% 60%;
    }
      .title{
        padding-left: 13px;
      }
    }
  .buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
      .addOrderButton{
        @extend %buttons;
        background-image: $addOrderLogo;
        padding-right: 17px;
      }
      .payButton{
        @extend %buttons;
        margin-top:32px;
        background-image: $payLogo;
      }
  }
}









