@import-normalize;
@import url('http://fonts.cdnfonts.com/css/sf-pro-display');

$width: 240px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: inherit;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding-left: 0;
}

body {
  font-family: 'SF Pro Display', sans-serif;
}